{% extends 'base.html'%}
{% block content %}
<h1 class="text-center">HOTTEST SOURCES</h1>
<ul>
    {% for source in sources %}
    <div class="row row-cols-1 row-cols-md-1 g-4 d-flex">
        <div class="col p-3">
            <div class="card p-3">
                <div class="card-body">
                    <h3 class="card-title text-warning">{{source.name}}</h3>
                    <p class="card-text text-bold text-dark fs-3"><strong>{{source.description}}</strong></p>
                    <button class="btn btn-success p-2"><a href="{{source.url}}"></a>Read more</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</ul>

{% endblock%}
